#content_model_graph .node {
  stroke: #fff;
  stroke-width: 1.5px;
}
#content_model_graph .node .info-label,
#content_model_graph .legend {
  font-size: 10px;
  display: none;
  color: #555;
  text-transform: uppercase;
  pointer-events: none;
}

#content_model_graph .node-active,
#content_model_graph .unconnected.node-active,
#content_model_graph marker{
  stroke: #555;
  stroke-width: 1.5px;
  stroke-opacity: 1;
  fill-opacity: 1;
}

#content_model_graph .node-active .info-label,
#content_model_graph .legend {
  display: inherit;
}

#content_model_graph .node-highlight .info-label {
  font-size: 12px;
  font-weight: bold
}

#content_model_graph .link {
  stroke: #555;
  stroke-opacity: .3;
}

#content_model_graph .link-active {
  stroke-opacity: 1;
}

#content_model_graph .unconnected {
  stroke-opacity: .1;
  fill-opacity: .2;
}

#content_model_graph .link-dim, #content_model_graph .node-dim {
  stroke-opacity: .1;
  fill-opacity: .2;
}

#content_model_graph .overlay {
  fill: none;
  pointer-events: all;
}
